<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>

    <!--CSS styles -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&family=Cormorant+Infant:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
    <div class="all-elements">
    
        <nav class="nav">
            <i class="bars fas fa-bars 3x"></i>

            <div class="date-set">
                <i class="calendar far fa-calendar-alt 3x"></i>
                <p class="date"> <%= today %> </p>                
            </div>
            
        </nav>
        <header class="header">
            
            <h1 class="title">How is the <br> Weather <br> Today?</h1>        
            
        </header> 

        <section class="query">

            <form class="city" action="/" method="POST">
                <label class="city-name" for="cityInput">City:</label>
                <input id="cityInput" name="cityName" type="text" placeholder="Paris" autocomplete="off"> <!--the name here is super important-->
                <br>
                <button type="submit" class="btn" >Go</button>
            </form> 

            <div class="query-result grid-container">
                <img class="api-image" src="<%= imageAPI %>" alt="weather image">
                <p class="user-city" ><%= userCity %> </p>
                <p class="description"><%= newDescription %> </p>
                <p class="temperature"> <%= newTemperature  %>  </p>
            </div>                           
           
           <div class="image-undraw">
                <img class="image-bottom" src="images/undraw_nature_on_screen_xkli.png" alt="woman walking in the park">
            </div> 
            
        </section>

        <footer class="footer">
                
            <p>Developed by Ana Carolina Mendes. 2020 </p>
            
        </footer>   

    </div>
    
</body>
</html>